In [36]:
import pandas as pd
import numpy as np
import seaborn as sb
%matplotlib inline

In [3]:
df = pd.read_csv("Trees_Public.csv")

In [5]:
df.columns

Index(['FID', 'ID', 'UNIQUEID', 'ADDRESS', 'SUFFIX', 'STREET', 'ONSTR',
       'FROMSTR', 'TOSTR', 'SIDE', 'SITE', 'SPP', 'DBH', 'CULTIVAR',
       'CONDITION', 'INSPECT', 'MT', 'MT2', 'TTYPE', 'MEMTREE', 'DISEASEDEF',
       'STRUTDEFEC', 'LOCTYPE', 'SITECAT', 'HOOD', 'LOCATION', 'JURISDIC',
       'TSIP', 'GRATESZ', 'GUARDSZ', 'EAB', 'INV_DATE', 'INV_TIME',
       'INSPECT_DT', 'INSPECT_TM', 'NOTES', 'ACTIVE', 'COMMONNAME', 'GENUS'],
      dtype='object')

In [15]:
ash_filtered_condition = df[['CONDITION', 'COMMONNAME']][(df['COMMONNAME'] == 'White Ash') | (df['COMMONNAME'] == 'Green Ash')]

In [34]:
df[['FROMSTR']

0           BASELINE RD
1           BASELINE RD
2           BASELINE RD
3           BASELINE RD
4            CUL-DE-SAC
5            CUL-DE-SAC
6          FLAGSTAFF RD
7          FLAGSTAFF RD
8          FLAGSTAFF RD
9          FLAGSTAFF RD
10         FLAGSTAFF RD
11         FLAGSTAFF RD
12         FLAGSTAFF RD
13           CASCADE AV
14           CASCADE AV
15              10TH ST
16              10TH ST
17           CASCADE AV
18           CASCADE AV
19           CASCADE AV
20           CASCADE AV
21           CASCADE AV
22          BASELINE RD
23          BASELINE RD
24          BASELINE RD
25          BASELINE RD
26          BASELINE RD
27           CASCADE AV
28           CASCADE AV
29          BASELINE RD
              ...
50639    YELLOW PINE AV
50640    YELLOW PINE AV
50641    YELLOW PINE AV
50642          ZAMIA PL
50643          ZAMIA PL
50644          ZAMIA PL
50645          ZAMIA PL
50646          ZAMIA PL
50647          ZAMIA PL
50648          ZAMIA PL
50649    YELLOW PINE AV
50650    YELLOW PINE AV
50651    YELLOW PINE AV
50652           18TH ST
50653           18TH ST
50654            6TH ST
50655            6TH ST
50656            6TH ST
50657            6TH ST
50658            6TH ST
50659            6TH ST
50660            6TH ST
50661            6TH ST
50662            6TH ST
50663            6TH ST
50664            6TH ST
50665        CUL-DE-SAC
50666        CUL-DE-SAC
50667          ZAMIA CT
50668          ZAMIA CT
Name: FROMSTR, Length: 50669, dtype: object

array([[1.        , 0.03338306],
       [0.03338306, 1.        ]])